<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
       <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      
        <div class="header-details flexrow">
          <h1 class="charname">
            <input name="name" type="text" value="{{item.name}}" placeholder="Item Name" />
          </h1>
          <div class="item-subtitle">
            <h4 class="item-type"> {{data.label}} </h4>
            <span class="item-status"></span>
          </div>
          <ul class="summary">
            <li>
              <label> Type </label> 
              <select name="data.majorType">
                {{#select data.majorType}}
                {{#each config.contract_majorTypes}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
                {{/select}}
              </select>
              {{#if (isArcadian data.majorType)}}
              <select name="data.subType">
                {{#select data.subType}}
                {{#each config.contract_ArcadianTypes}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
                {{/select}}
              </select>
              {{/if}}
              {{#if (isCourt data.majorType)}}
              <select name="data.subType">
                {{#select data.subType}}
                {{#each config.contract_CourtTypes}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
                {{/select}}
              </select>
              {{/if}}
            </li>
            {{#unless (isGoblin data.majorType)}}
            <li>
              <label> Regalia </label> 
              <select name="data.regalia">
                {{#select data.regalia}}
                {{#each config.contract_regalia}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
                {{/select}}
              </select>
            </li>
            {{/unless}}
            <li> 
              <label> Dice Pool </label> <input name="data.dicePool.value" type="number" data-dtype="Number" value="{{data.dicePool.value}}" />
            </li>
          </ul>
        </div>
    </header>
  <div class="gold-border"> </div>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">    
      <a class="item" data-tab="traits">Traits</a>
      <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Attributes Tab --}}
        <div class="tab traits" data-group="primary" data-tab="traits">
          <div class="item-stat-block">
            <div class="form-line">
              <label> Glamour Cost </label> 
              <input name="data.costGlamour.value" type="number" value="{{data.costGlamour.value}}" />
              <span><label class="small"> Per Turn </label> 
                <label class="checkBox">
                  <input data-dtype="Boolean" name="data.costGlamour.perTurn" type="checkbox" {{checked data.costGlamour.perTurn}} >
                  <span></span>
                </label> 
              </span>
            </div>
            <div class="form-line">
              <label> Willpower Cost </label> 
              <input name="data.costWillpower.value" type="number" value="{{data.costWillpower.value}}" />
              <span><label class="small"> Per Turn </label> 
                <label class="checkBox">
                  <input data-dtype="Boolean" name="data.costWillpower.perTurn" type="checkbox" {{checked data.costWillpower.perTurn}} >
                  <span></span>
                </label> 
              </span>
            </div>
            <div class="form-line">
              <label> Action </label> 
              <input name="data.action" type="text" value="{{data.action}}" />
            </div>
            <div class="form-line">
              <label> Duration </label> 
              <input name="data.duration" type="text" value="{{data.duration}}" />
            </div>
          </div>
        </div>
      
        {{!-- Description Tab --}}
        <div class="tab" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
